@import 'reset/reeeset.min.css';


body {
  font-family: Arial;
  font-size: 14px;
}
#documentation {
    z-index: 1010;
    top: 0;
    left: 0;
    padding: 10px 10px 4px 10px;
    border-radius: 0 0 8px 0;
    position: fixed;
    background-color: #2E3336;
}
#viewer-2d-container {
  position: absolute;
  right: 0px;
  bottom: 20px;
  width: 320px;
  height: 320px;
  padding: 10px;
  background-color: transparent;
}
#viewer-2d {
  height: 100%;
  background-color:rgba(252, 252, 252, 0.9);
  border: 1px solid #eef0f1;
}
#viewer-2d .bs-viewer2d {
  background:transparent;
}
#viewer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
}
#viewer {
  height: 100%;
}

#navigation {
  position: absolute;
  right: 0;
  width: 20%;
  bottom: 0;
  top:0;
  overflow: auto;
}

.help-item {
  white-space: nowrap;
  font-size: 16px;
  padding: 2px;
}

.help-item .command {
  white-space: nowrap;
  margin-right: -1px;
  margin-left: 10px;
  padding: 1px 10px;
  border: 1px solid #4E98F7;
  border-radius: 10px;
  color: #4E98F7;
}

.bs-dropup-list,
#context-menu-2 .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  font-family: inherit;
}

#context-menu-2 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#context-menu-2 ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.bs-dropup-list > li > a,
#context-menu-2 .dropdown-menu > li {
  display: block;
  padding: 6px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.bs-dropup-list > li > a:hover,
#context-menu-2 .dropdown-menu > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.bs-dropup-list > li,
#context-menu-2 .dropdown-menu > li {
  cursor: pointer;
}

#context-menu-2 .bs-dropup-list > li.disabled {
  pointer-events: none;
  cursor: default;
}

.bs-dropup-list > .disabled > a,
.bs-dropup-list > .disabled > a:focus,
.bs-dropup-list > .disabled > a:hover,
#context-menu-2 .dropdown-menu > .disabled > a,
#context-menu-2 .dropdown-menu > .disabled > a:focus,
#context-menu-2 .dropdown-menu > .disabled > a:hover {
  color: #777;
}

.bs-dropup-list .divider,
#context-menu-2 .dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

#context-menu-2 .float-right {
  float: right;
}

#context-menu-2 .float-left {
  float: left;
}

#context-menu-2 .clear {
  clear: both;
}

#context-menu-2 .muted {
  color: #777;
}

button.close {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  color: #333;
  background-color: rgba(255,255,255,0.8);
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: inherit;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0px;
}

button.close:hover {
  background-color: #f2f5f8;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #676a6c;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: -4px;
  bottom: -4px;
  background-color: white;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

input:checked + .slider {
  background-color: #6ad46f;
  border-color: #56ce5c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6ad46f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #6ad46f;
  border-color: #56ce5c;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}